$base: ( 
    white: #fdfdfd, 
    /* contrast grey ≈ 4.53 AA */
    /* contrast darkgrey ≈ 12.98 AAA */
    /* contrast black ≈ 20.40 AAA */
    lightgrey: #f7f7f7,
    /* contrast grey ≈ 4.30 AA */
    /* contrast darkgrey ≈ 4.30 AA */
    /* contrast black ≈ 19.37 AAA */
    grey: #757575,
    /* contrast black ≈ 4.50 AA */
    darkgrey: #303030,
    black: #020202
);

$another-palette: (

);