@import 'palette';

/* Settings.scss */
html, body, div,
nav,
h1, h2 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

html {
    /* How the user agent should calculate the total width and height of an element.
    See: https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing
    See: https://allthingssmitty.com/2017/01/09/css-reset-for-minimalists */
    box-sizing: border-box;  
    /* Prevent adjustments of font size after orientation changes in iOS. */
    -webkit-text-size-adjust: 100%;   
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-style: italic;
}


