@charset "utf-8";
@import "partial/settings";

/* Styles.scss */
.o-page {
    font-family: 'myfont';
    line-height: 1.6;
    &__inner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: 1180px;
        margin: auto;
        color: map-get($nord, nord0);
        text-align: center;
    }
} 

.header,
.footer {
    color: map-get($nord, nord6);
    background-color: map-get($nord, nord2);
} 

.main {
    padding: 3rem 0;
    background-color: map-get($nord, nord8);
}

.aside {
    padding: 1.5rem 0;
    background-color: map-get($nord, nord6);
}

@media all and (min-width: 60em) {
    .o-page__inner {
        flex-direction: row;
    }

    .header,
    .footer {
        flex-basis: 100%;
    }

    .main {
        flex-basis: 50%;
    }

    .aside {
        flex-basis: 25%;
        padding: 3rem 0;
    }
}