@charset "utf-8";
@import "partial/settings";

/* Styles.scss */
.o-page {
    font-family: 'myfont';
    line-height: 1.6;
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1180px;
        height: 100vh;
        margin: auto;
        color: map-get($nord, nord0);
        background-color: map-get($nord, nord2);
    }
}

p {
    padding: 2rem 6rem;
    background-color: map-get($nord, nord6);
    border: 1px solid map-get($nord, nord0);
}