@charset "utf-8";
@import "partial/settings";

/* Styles.scss */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 1280px;
    height: 100vh;
    color: map-get($base, darkgrey);
    background-color: map-get($base, grey);
}

p {
    padding: 2rem 6rem;
    background-color: map-get($base, lightgrey);
    border: 2px solid map-get($base, darkgrey);
}