@charset "utf-8";
@import "partial/settings";

/* Styles.scss */
.o-page {
    font-family: 'myfont';
    line-height: 1.6;
    &__inner {
        margin: auto;
        max-width: 1180px;
        height: 100vh;
        color: map-get($nord, nord6);
        background-color: map-get($nord, nord6);
    }
} 

.nav {
    display: flex;
    padding: 2rem;
    background-color: map-get($nord, nord2);
}

h2 {
    margin-left: auto;
}
